$light-foreground: #fff;
$light-background: #fff;
$light-box: #ebe5e5;
$light-text: #111517;

$dark-foreground: #2b3945;
$dark-background: #202c37;
$dark-box: #2c3235;
$dark-text: #fff;

body {
  font-family: sans-serif;
  background-color: #202c37;
  color: #fff;
  margin: 0;

}